html {
  background-color: #dbd6cf;
  color: #000;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  line-height: 1em;
  text-shadow: 1px +2px 10px black;
  padding: 0.5em 0.5em 0em 0.5em;
  border-radius: 10px
  margin: 0.5em 1em 0.5em 1em;
  background-color: 79756f;
  text-align: center;
}

h2 {
  color: #79756f;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
}

h3 {
  color: #79756f;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  }

.word {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  color: #79756f;
}

p {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-style: normal; /*italic, normal*/
}

blockquote p {
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Slabo', serif;
}

figcaption {
  font-weight: 200;
  font-size: 0.75rem;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-style: italic; /*italic, normal*/
}

figure {
  padding: 0.5em;
  border: 2px solid #bcb9b2;
  border-radius: 10px;
  display: inline-block;
}

img {
  width: 100%;
}

cite {
  font-weight: 100;
  font-size: 0.75rem;
  font-style: italic;
  text-align: right;
  font-family: 'Slabo', serif;
  color: #79756f;
  display: block;
}

ol {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  list-style-type: none; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
  padding: 0;
}

ul li {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  padding: 0;
}

.roman {
  list-style-type: lower-roman; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
}

dl{
  text-align: left;
}

dd {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  list-style-type: none; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
  padding: 0;
  text-align: left;
  margin: 0em 0em 1em 0em;
}

dt {
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  list-style-type: none; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
  padding: 0;
}

a {
  color: #000;
  font-size: 1rem;
  display: block
}

a:hover {
  color: #703838;
}

.circle {
  list-style-type: circle;
  display: block;
  margin:0.5em 2em 4em 0.5em;
  padding: 0em 0em 1em 2em;
}

.quote {
  color:#79756f;
  font-size: 3rem;
}

nav {
  text-align: center;
}
nav ol {
  list-style-type: none;
  padding: 0.5em 2em 2em 0.5em;
  margin: 1em;
}

nav a{
  display: inline-block;
  padding: 0.5em;
  margin: 0.20em;
  background-color: #703838;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

nav li {
  display: inline;
}

header{
  background-color: #79756f;
  border-radius: 10px;
}

.link {
  background-color: #79756f;
}

.sources {
  color: #dbd6cf;
  margin: 0.5em 0em 0em 0.5em;
  display: inline-block;
}
